
@model IEnumerable<Chuanhoafile.Models.Ipconnectweb>

<div class="container">
    <div class="row">
        <label class="text-danger">Tổng: @Model.Count()</label>
    </div>
</div>
<table id="places" class="table nowrap table-bordered table-striped mt-5 table-data">
    <thead>
        <tr>
            <th>Ngày</th>
            <th>Ip</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item != null)
            {
                <tr>
                    <td>@item.DateUpdate.ToLongDateString()</td>
                    <td>@item.ip</td>
                </tr>
            }
        }

    </tbody>
</table>