@{
    ViewData["Title"] = "Home Page";

}
<div class="container action-begins">

    <div class="bg-danger error">
        <i class="fas fa-close"></i>
        <span class="p-3 text-white" id="error"></span>
    </div>

    <form action="FileExecute" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-12">
                <h3 class="text-danger text-center">Hệ thống chuẩn hóa file hỗ trợ nhập liệu</h3>
            </div>
        </div>
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a>Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Hồ sơ sức khỏe  </a></li>
            </ul>
        </div>
        <div class="row">
            <div class="file-upload-wrapper col-md-7">
                <label class="control-label font-weight-bold text-primary">Chọn hoặc thả file muốn chuẩn hóa vào vùng dưới</label>
                <input id="input-b9" name="inputb9" data-browse-on-zone-click="true" type="file">
            </div>
            <div class="col-md-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <label class="control-label font-weight-bold text-primary">Chọn số thứ tự của dòng dữ liệu đầu tiên</label>
                            <select class="form-control" id="rowIndex" name="rowIndex">
                                @{ for (int i = 1; i < 10; i++)
                                    {
                                        <option value="@i">Dòng @i</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-12">
                            <label class="control-label font-weight-bold text-primary">Chọn loại dữ liệu đầu ra</label>
                            <select class="form-control" id="rowTypeFile" name="rowTypeFile">
                                <option value="mau3">HSSK Mẫu 3 - Danh sách đối tượng tiêm - covid</option>
                                <option value="mau4">HSSK Mẫu 4- Danh sách nhập hồi cứu đối tượng tiêm - covid</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr />
                <button id="uploadfile" data-save="modal" class="btn btn-success">Xử lý | <i class="fas  fa-upload"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="modal fade" id="Execute-Modal">
                @{await Html.RenderPartialAsync("ExecutePartial"); }
            </div>
        </div>
    </form>
</div>
@section Scripts
{
    @{await Html.RenderPartialAsync("_ModalScriptInitHSSK");}
}