@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Place" asp-action="Index">quản lý khu vực</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="placeCases" asp-action="Index">quản lý lỗi sai</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="ApplicationUsers" asp-action="Index">Quản lý người dùng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Đăng xuất</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
        </li>
    }
</ul>

<button class="open-button btn" onclick="openForm()">Gửi phản hồi</button>

<div class="chat-popup" id="myForm">
    <form action="" id="chat-form" class="form-container">
        <label for="msg"><b>Tên người gửi</b></label>
        <input class="form-control input-chat" type="text" name="name" required value="" />
        <label for="msg"><b>Nội dung</b></label>
        <textarea placeholder="nhập nội dung.."  class="form-control input-chat" name="msg" required></textarea>
        <button type="submit" class="btn"  id="sendChat">Gửi</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Thoát</button>
    </form>
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }

        $(document).ready(function () {
            $('#sendChat').on('click', function (e) {
                e.preventDefault();
                var form = $(this).parents('.chat-popup').find('form');
                var dataToSend = new FormData(form.get(0));
                $.ajax({
                url: '@Url.Content("~/Home/Sendchat")',
                type: 'POST',
                data: dataToSend, processData: false, contentType: false,
                beforeSend: function () {
                    $('.loading').css('display', 'block');
                },
                success: function (data1) {
                    $('.loading').css('display', 'none');
                    if (data1 != null && data1 != "") {
                        if (data1.status == "error") {
                            $('.error').fadeIn();;
                            $('#error').html(data1.message);
                            setTimeout(function () { $('.error').fadeOut(); }, 7000);
                        }
                        else {
                            document.getElementById("chat-form").reset();
                            $('.success').fadeIn();
                            $('#success').html(data1.message);
                            setTimeout(function () { $('.success').fadeOut(); }, 2000);
                        }
                    }
                },
                    false: function (data1) {
                        document.getElementById("chat-form").reset();
                    $('.loading').css('display', 'none');
                    $('.error').show(2500);
                    $('#error').html(data1.message);
                    setTimeout(function () { $('.error').css("display", "none"); }, 7000);
                }
            });
            });
        });


    </script>
</div>
